@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Trang chủ-->
<section class="trangchu col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="homeController">

    <!--Banner - Đặt phòng-->
    <div class="banner-book hidden-xs col-sm-12 col-md-12 col-lg-12">

        <!--Khám phá ngay-->
        <div class="khampha col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                <span>Khách sạn Hải Long Cát Bà</span><br />
                Cát bà là điểm đến - Hải Long là điểm dừng
            </p>
            <div class="button">
                <button>Khám phá ngay</button>
            </div>
        </div>
    </div>

    <!--Chào mừng-->
    <div class="chaomung col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="title">Chào mừng đến với Hải Long Cát Bà Hotel</p>
        <p class="detail">
            Khách sạn Hải Long là một trong những khách sạn thuộc chuỗi <span>khách sạn Cát Bà</span> được đánh giá cao
            trong những năm vừa qua.Nằm ở vị trí trung tâm của khu du lịch đảo ngọc Cát Bà nhìn ra vịnh
            Lan Hạ - một trong những Vịnh đẹp nhất của Việt Nam.
        </p>
    </div>

    <!--Các loại phòng-->
    <article class="loaiphong col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

        <!--Loại phòng-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="(index, value) in phongNghis">
            <img ng-src="{{value.image}}" alt="{{value.title}}" class="img-responsive" />
            <p>{{value.title}}</p>
            <a href="/bai-viet/{{value.alias}}-{{value.idPost}}">Xem chi tiết</a>
        </div>
    </article>

    <!--Bài viết-->
    <article class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Nền-->
        <img src="~/Content/Front/images/trangchu/baiviet-bg.png" alt="" class="img-responsive hidden-xs hidden-sm" />

        <!--Các bài viết-->
        <div class="news col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

            <!--Bài viết-->
            <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-repeat="(index, value) in nhaHangSuKiens">
                <p class="title">{{value.title}}</p>
                <img ng-src="{{value.image}}" alt="{{value.title}}" class="img-responsive" />
                <p class="detail" ng-bind-html="value.content | limitTo:250"></p>
            </a>
        </div>
    </article>

</section>