
@{
    ViewBag.Title = "PhongNghi";
}

<!--Trang phòng nghỉ-->
<section class="phongnghi col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!--Banner-->
    <div class="banner hidden-xs col-sm-12 col-md-12 col-lg-12">
        <img src="~/Content/images/phongnghi/banner.png" alt="" />

        <!--Text-->
        <div class="text col-sm-12 col-md-12 col-lg-12">
            <p class="line-1">Phòng Nghỉ</p>
            <p class="line-2">Chúng tôi cung cấp những căn phòng tốt nhất đến cho khách hàng</p>
        </div>
    </div>

    <!--Các loại phòng-->
    <article class="cacloaiphong col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Loại phòng-->
        <div class="loaiphong col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tên loại phòng-->
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Phòng tiêu chuẩn</p>

            <!--Thông tin-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Ảnh phòng-->
                <img src="~/Content/images/phongnghi/phongtieuchuan.png" alt="" class="col-xs-12 col-sm-4 col-md-6 col-lg-6" />

                <!--Chi tiết-->
                <div class="chitiet col-xs-12 col-sm-8 col-md-6 col-lg-6">
                    <ul>
                        <li class="title">Tiện nghi trong phòng:</li>
                        <li>Bàn làm việc</li>
                        <li>Bồn tắm nóng lạnh</li>
                        <li>Bàn ghế uống trà</li>
                        <li>Bàn ghế trang điểm</li>
                        <li>Tủ quần áo</li>
                        <li>Máy sấy tóc, áo choàng tắm</li>
                        <li>Điện thoại nối mạng quốc thế IDD</li>
                        <li>Tủ lạnh</li>
                        <li>Tivi 32 inch với hơn 60 kênh trong nước và quốc tế</li>
                        <li>Điều hòa</li>
                    </ul>

                    <!--Xem thêm-->
                    <a href="@Url.Action("BaiViet","Home")" class="xemthem">Xem chi tiết <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>

        <!--Loại phòng-->
        <div class="loaiphong col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tên loại phòng-->
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Phòng cao cấp</p>

            <!--Thông tin-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Ảnh phòng-->
                <img src="~/Content/images/phongnghi/phongcaocap.png" alt="" class="col-xs-12 col-sm-4 col-md-6 col-lg-6" />

                <!--Chi tiết-->
                <div class="chitiet col-xs-12 col-sm-8 col-md-6 col-lg-6">
                    <ul>
                        <li class="title">Tiện nghi trong phòng:</li>
                        <li>Bàn làm việc</li>
                        <li>Bồn tắm nóng lạnh</li>
                        <li>Bàn ghế uống trà</li>
                        <li>Bàn ghế trang điểm</li>
                        <li>Tủ quần áo</li>
                        <li>Máy sấy tóc, áo choàng tắm</li>
                        <li>Điện thoại nối mạng quốc thế IDD</li>
                        <li>Tủ lạnh</li>
                        <li>Tivi 32 inch với hơn 60 kênh trong nước và quốc tế</li>
                        <li>Điều hòa</li>
                    </ul>

                    <!--Xem thêm-->
                    <a href="@Url.Action("BaiViet","Home")" class="xemthem">Xem chi tiết <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>

        <!--Loại phòng-->
        <div class="loaiphong col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tên loại phòng-->
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Phòng vip</p>

            <!--Thông tin-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Ảnh phòng-->
                <img src="~/Content/images/phongnghi/phongvip.png" alt="" class="col-xs-12 col-sm-4 col-md-6 col-lg-6" />

                <!--Chi tiết-->
                <div class="chitiet col-xs-12 col-sm-8 col-md-6 col-lg-6">
                    <ul>
                        <li class="title">Tiện nghi trong phòng:</li>
                        <li>Bàn làm việc</li>
                        <li>Bồn tắm nóng lạnh</li>
                        <li>Bàn ghế uống trà</li>
                        <li>Bàn ghế trang điểm</li>
                        <li>Tủ quần áo</li>
                        <li>Máy sấy tóc, áo choàng tắm</li>
                        <li>Điện thoại nối mạng quốc thế IDD</li>
                        <li>Tủ lạnh</li>
                        <li>Tivi 32 inch với hơn 60 kênh trong nước và quốc tế</li>
                        <li>Điều hòa</li>
                    </ul>

                    <!--Xem thêm-->
                    <a href="@Url.Action("BaiViet","Home")" class="xemthem">Xem chi tiết <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </article>
</section>